<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lty.tmp.service.mapper.ParamConfigMapper">
  <resultMap id="BaseResultMap" type="com.lty.tmp.service.bean.entity.autocreate.ParamConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_uid" jdbcType="INTEGER" property="createUid" />
    <result column="write_date" jdbcType="TIMESTAMP" property="writeDate" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="write_uid" jdbcType="INTEGER" property="writeUid" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_uid, write_date, value, write_uid, key, create_date
  </sql>
  <select id="selectByExample" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ir_config_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ir_config_parameter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ir_config_parameter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfigExample">
    delete from ir_config_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfig">
    insert into ir_config_parameter (id, create_uid, write_date, 
      value, write_uid, key, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{createUid,jdbcType=INTEGER}, #{writeDate,jdbcType=TIMESTAMP}, 
      #{value,jdbcType=VARCHAR}, #{writeUid,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfig">
    insert into ir_config_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="writeDate != null">
        write_date,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="writeUid != null">
        write_uid,
      </if>
      <if test="key != null">
        key,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="writeDate != null">
        #{writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="writeUid != null">
        #{writeUid,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfigExample" resultType="java.lang.Long">
    select count(*) from ir_config_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ir_config_parameter
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=INTEGER},
      </if>
      <if test="record.writeDate != null">
        write_date = #{record.writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.writeUid != null">
        write_uid = #{record.writeUid,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        key = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ir_config_parameter
    set id = #{record.id,jdbcType=INTEGER},
      create_uid = #{record.createUid,jdbcType=INTEGER},
      write_date = #{record.writeDate,jdbcType=TIMESTAMP},
      value = #{record.value,jdbcType=VARCHAR},
      write_uid = #{record.writeUid,jdbcType=INTEGER},
      key = #{record.key,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfig">
    update ir_config_parameter
    <set>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="writeDate != null">
        write_date = #{writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="writeUid != null">
        write_uid = #{writeUid,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lty.tmp.service.bean.entity.autocreate.ParamConfig">
    update ir_config_parameter
    set create_uid = #{createUid,jdbcType=INTEGER},
      write_date = #{writeDate,jdbcType=TIMESTAMP},
      value = #{value,jdbcType=VARCHAR},
      write_uid = #{writeUid,jdbcType=INTEGER},
      key = #{key,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>