<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lty.tmp.service.mapper.UpgradeDetailMapper">
  <resultMap id="BaseResultMap" type="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_uid" jdbcType="INTEGER" property="createUid" />
    <result column="ftp_path" jdbcType="VARCHAR" property="ftpPath" />
    <result column="write_uid" jdbcType="INTEGER" property="writeUid" />
    <result column="write_date" jdbcType="TIMESTAMP" property="writeDate" />
    <result column="upgrade_type" jdbcType="INTEGER" property="upgradeType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="upgrade_sn" jdbcType="VARCHAR" property="upgradeSn" />
    <result column="dev_sn" jdbcType="VARCHAR" property="devSn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_uid, ftp_path, write_uid, write_date, upgrade_type, create_date, upgrade_sn, 
    dev_sn
  </sql>
  <select id="selectByExample" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tmp_report_upgrade_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tmp_report_upgrade_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tmp_report_upgrade_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetailExample">
    delete from tmp_report_upgrade_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetail">
    insert into tmp_report_upgrade_detail (id, create_uid, ftp_path, 
      write_uid, write_date, upgrade_type, 
      create_date, upgrade_sn, dev_sn
      )
    values (#{id,jdbcType=INTEGER}, #{createUid,jdbcType=INTEGER}, #{ftpPath,jdbcType=VARCHAR}, 
      #{writeUid,jdbcType=INTEGER}, #{writeDate,jdbcType=TIMESTAMP}, #{upgradeType,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{upgradeSn,jdbcType=VARCHAR}, #{devSn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetail">
    insert into tmp_report_upgrade_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="ftpPath != null">
        ftp_path,
      </if>
      <if test="writeUid != null">
        write_uid,
      </if>
      <if test="writeDate != null">
        write_date,
      </if>
      <if test="upgradeType != null">
        upgrade_type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="upgradeSn != null">
        upgrade_sn,
      </if>
      <if test="devSn != null">
        dev_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="ftpPath != null">
        #{ftpPath,jdbcType=VARCHAR},
      </if>
      <if test="writeUid != null">
        #{writeUid,jdbcType=INTEGER},
      </if>
      <if test="writeDate != null">
        #{writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="upgradeType != null">
        #{upgradeType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="upgradeSn != null">
        #{upgradeSn,jdbcType=VARCHAR},
      </if>
      <if test="devSn != null">
        #{devSn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetailExample" resultType="java.lang.Long">
    select count(*) from tmp_report_upgrade_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tmp_report_upgrade_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=INTEGER},
      </if>
      <if test="record.ftpPath != null">
        ftp_path = #{record.ftpPath,jdbcType=VARCHAR},
      </if>
      <if test="record.writeUid != null">
        write_uid = #{record.writeUid,jdbcType=INTEGER},
      </if>
      <if test="record.writeDate != null">
        write_date = #{record.writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upgradeType != null">
        upgrade_type = #{record.upgradeType,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upgradeSn != null">
        upgrade_sn = #{record.upgradeSn,jdbcType=VARCHAR},
      </if>
      <if test="record.devSn != null">
        dev_sn = #{record.devSn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tmp_report_upgrade_detail
    set id = #{record.id,jdbcType=INTEGER},
      create_uid = #{record.createUid,jdbcType=INTEGER},
      ftp_path = #{record.ftpPath,jdbcType=VARCHAR},
      write_uid = #{record.writeUid,jdbcType=INTEGER},
      write_date = #{record.writeDate,jdbcType=TIMESTAMP},
      upgrade_type = #{record.upgradeType,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      upgrade_sn = #{record.upgradeSn,jdbcType=VARCHAR},
      dev_sn = #{record.devSn,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetail">
    update tmp_report_upgrade_detail
    <set>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="ftpPath != null">
        ftp_path = #{ftpPath,jdbcType=VARCHAR},
      </if>
      <if test="writeUid != null">
        write_uid = #{writeUid,jdbcType=INTEGER},
      </if>
      <if test="writeDate != null">
        write_date = #{writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="upgradeType != null">
        upgrade_type = #{upgradeType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="upgradeSn != null">
        upgrade_sn = #{upgradeSn,jdbcType=VARCHAR},
      </if>
      <if test="devSn != null">
        dev_sn = #{devSn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lty.tmp.service.bean.entity.autocreate.UpgradeDetail">
    update tmp_report_upgrade_detail
    set create_uid = #{createUid,jdbcType=INTEGER},
      ftp_path = #{ftpPath,jdbcType=VARCHAR},
      write_uid = #{writeUid,jdbcType=INTEGER},
      write_date = #{writeDate,jdbcType=TIMESTAMP},
      upgrade_type = #{upgradeType,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      upgrade_sn = #{upgradeSn,jdbcType=VARCHAR},
      dev_sn = #{devSn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>